/* ...existing CSS code... */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: linear-gradient(121deg, #AD00FF 0%, #0C0056 100%), linear-gradient(121deg, #FA00FF 0%, rgba(0, 255, 71, 0) 100%), linear-gradient(127deg, #00F0FF 0%, #A80000 100%), radial-gradient(107% 142% at 15% 104%, #F3D0FC 0%, #1700A4 100%), radial-gradient(100% 100% at 50% 0%, #7300A9 0%, #00FFE0 100%), radial-gradient(100% 100% at 50% 0%, #7300A9 0%, #00FFE0 100%), linear-gradient(127deg, #B7D500 0%, #2200AA 100%);
  background-blend-mode: overlay, color, overlay, difference, color-dodge, difference, normal;
  background-size: cover;
}


header {
  background-color: #333;
  padding: 10px;
  border-radius: 100% 100% 100% 100% / 100% 100% 100% 100%  ;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

h1 {
  text-align: center;
}

footer {
  background-color: transparent;
  padding: 5px;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-top: auto;
}
